.container{
    flex-flow: row wrap;
    margin:auto;
    max-width:1200px;
}
.header{
    flex-flow: row wrap;
    background-color: black;
    margin: 10px;
    flex-direction: column;
}
.container-head{
    padding: 1px;  
}
.container-head > div{
    margin: 10px;
    padding: 10px;  
}
#container-head-section1{
    display: flex;
    background-color:#2D4059;
    gap: 10px;
    min-height: 10px;
    
}
#container-head-section1 > div{
    background-color:#EA5455;
}
#container-head-section2{
    display: flex;
    background-color:#F07B3F;
    min-height: 10px;
    
}
#container-head-section2 > div{
    background-color:#FED460;
}

.body{
    flex-flow: row wrap;
    background-color: black;
    margin: 10px;
}
.container-body{
    padding: 10px;  
    display:flex;
}

.container-body-section1{
    display:flex;
    flex-direction: column;
    padding: 10px;
    background-color:#4E4E6A;
   	min-height: 10px;
    flex-grow: 7;
}
.container-body-section1 > div{
    display:flex;
    margin-bottom: 10px;
    gap:10px;

}

.noticias > div{
    flex-grow: 5;
    background-color: #1F6CB0;
    margin: 1px;
    padding: 5px;
}
.otras-noticias{
    background-color: #70A3C4;
    padding: 5px;
}


.container-body-section2{
    margin-left:10px;
    background-color: #F73F52;
    flex-grow: 3;
    
}
.container-body-section2 > div{
    margin:10px;
    margin-bottom:5px; 
    padding: 5px;
    background-color:#FED460;
    margin-block-end: 10px;
}
.footer{
    flex-flow: row wrap;
    background-color: black;
    padding:1px;
    margin: 10px;
    
}
.footer > div{
    margin: 10px;
    background-color:#FED460;
    min-height: 10px;
}

  /* Mobiles*/
@media screen and (max-width: 470px) {
    .body{
        flex-direction: column; 
        background-color: #FEFF03;
    }
    #container-head-section1{
        flex-direction: column; 
        gap: 10px;  
    }
    #container-head-section1 > div{
        min-height: 10px; 
    }
    .container-body{
        flex-direction: column; 
    }
    .noticias{
        flex-direction: column;
    }
    .container-body-section1{
        background: #09506F;
    }
    .container-body-section2 {
        margin-left:0px;
        margin-top:10px;
        background: #FD7B54;
    }
    .container-body-section2 >div{
        background: #FDB36B;
    }
 
    .noticias >div{
        background: #62959C;
    }
    .otras-noticias{
        background: #A3DDCB;
    }
  }

  /* Tablets y phablets */
    @media screen and (min-width: 470px) and (max-width: 768px){
        .body{
            background-color: #FEFF03;
        }
        .container-body{
            flex-direction: column;
        }
        .container-body-section2{
            margin-left: 0px;
        }
        .container-body-section2 >div{
            background: #FEEA85;
        }
    }

  /* Desktop */
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .container-body-section2 {
        margin-left:10px;
        margin-top:0px;
    }
  }